*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    overflow: hidden;
}


nav{
    text-align: center;
    margin: 20px;
    color: white;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
}

.box h1{
    text-align: center;
    color: white;
}

.colours{
    margin:  auto;
    display: flex;
    justify-content: space-around;
    color: white;
}

button{
    margin: 50px auto;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    cursor: pointer;    
}
